*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/1th semester/PPLab1/nbproject/private/
/1th semester/PPLab1/build/
/1th semester/PPLab2/nbproject/private/
/1th semester/PPLab2/build/
/1th semester/PPLab4/nbproject/private/
/1th semester/PPLab4/build/
/1th semester/GBCGLab/nbproject/private/
/1th semester/GBCGLab/build/
/2nd semester/CMMLab/.idea/
/2nd semester/CMMLab/target/
/2nd semester/CMMLab/CMMLAB.iml
/2nd semester/MM3DLab/.idea/
/2nd semester/MM3DLab/target/
/2nd semester/MM3DLab/MM3DLab.iml
/2nd semester/CGLab/.idea/
/2nd semester/CGLab/target/
/2nd semester/CGLab/CGLab.iml
/2nd semester/CMMLab2/.idea/
/2nd semester/CMMLab2/target/
/2nd semester/CMMLab2/CMMLAB2.iml
/3nd semester/JexePackExample/target/
/3nd semester/JexePackExample/output/
/3nd semester/JexePackExample/.idea/
/3nd semester/JexePackExample/JexePackExample.iml
/3nd semester/MTOPLab1/.idea/
/3nd semester/MTOPLab1/target/
/3nd semester/MTOPLab1/MTOPLab1.iml
